.form {
  padding: 40px;
}

.formWrap {
  width: 800px;
  margin: 40px auto;
}

.formItem {
  margin-bottom: 20px;
}

.popover {
  z-index: 10;
  padding: 20px;
  background-color: #FFFFFF;
  box-shadow: rgba(0, 32, 51, 0.04) 0 4px 4px 0, rgba(0, 32, 51, 0.12) 0 8px 24px 0;
}

.popoverCalendar button[class*='DateTimeItem'] {
  color: rgba(0, 32, 51, 0.3);
  cursor: default;
  pointer-events: none;
}

.popoverCalendar button[class*='DateTimeItem_event'] {
  color: rgb(0, 32, 51);
  cursor: pointer;
  pointer-events: all;
}

.popoverCalendar button[class*='DateTimeItem_event']:before {
  content: unset;
}


